.required-indicator {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

#resetButton {
    background-color: tomato;
    display: inline; /* Change display to inline */
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for transform property */
    text-decoration: none;
}

.home-button:hover {
    background-color: #17374d;
    transform: scale(1.3); /* Grow by 30% on hover */
}

a:visited {
    color: white;
}

body {
    font-family: Arial, sans-serif;
    background-color: #94a3b8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #114984;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

th {
    text-align: left;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #114984;
    color: #ffffff;
    border-radius: 0 0 10px 10px;
}

/* Logo FX */
.logo {
    display: inline-block;
    transition: transform 0.3s ease;
}

/* Apply the shake animation on hover */
.logo:hover {
    animation: swayAndShake 1.5s ease-in-out infinite;
    color: white;
}

.sway-animation {
    animation: swayAndShake 3s ease-in-out infinite;
    color: white;
}

@keyframes swayAndShake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
.container {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}
header {
    border-radius: 0;
}
}