/* Reset Global Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Style */
.navbar {
  background: linear-gradient(180deg, #0F3057 0%, #022C43 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100px; /* Increase the navbar height */
}

.navbar-logo {
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
  filter: drop-shadow(3px 3px 4px #5d5d5f);
  animation: flyInFromLeft 1s ease-in-out;
}

.navbar a {
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;

  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background-color: #023E8A;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 99;
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 101;
  }

  .nav-toggle.active {
    color: #e74c3c;
  }
}

@keyframes flyInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}